/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

@font-face {
    font-family: 'Muli-Bold';
    src: local('☺'), url('../fonts/Muli-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yumin-Bold';
    src: url('../fonts/yumindb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yu-Gothic';
    src: local('☺'), url('../fonts/yugothib.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Yu-Gothic";
    height: 100%;
    width: 100%;
}

div {
    border: 0px solid black;
}

.containG {
    width: 100%;
}

.center {
    text-align: center;
    justify-items: center;
    align-items: center;
}

.main-bg {
    background-image: url(../img/index/main03.jpg);
    width: 100%;
    min-height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.main-bg p,
.main-bg a {
    color: white;
}


/*item header position*/


/*//end item header position*/

.logo img {
    width: 138px
}

li,
li a {
    font-size: 7px;
    list-style-type: none;
    font-family: "Muli-Bold";
    text-align: center
}


/*//end header*/

.headerText1,
.bg3_h {
    font-family: "Yumin-Bold";
    font-size: 36px;
}

.headerText2,
.bg3_h1 {
    font-family: "Muli-Bold";
    font-size: 14px;
}

.bg3-contain-big {
    margin-left: 20%;
}

.nav-item img {
    width: 40px;
    padding-left: 10px;
}

.navbar {
    margin-left: 33%;
}


/*the box inside*/

.box {
    opacity: 0.7;
    background: white;
    border: 0px;
    width: 260px;
    height: 122px;
    margin-left: 120px;
    margin-top: 45px;
}

.box-img img {
    width: 55px;
    margin-left: 190px;
    margin-top: -7px;
}

.box h {
    color: #642200;
    font-size: 7px
}

.box p {
    color: #642200;
    font-size: 18px
}

.box-text {
    width: 150px;
    margin-left: 35px;
    margin-top: -50px;
}

.box-text2 {
    width: 150px;
    margin-left: 35px;
    margin-top: 16px;
}

.box button {
    color: #642200;
    text-align: center;
    font-size: 8px;
    width: 120px;
    height: 19px;
    border: 1px solid #642200;
    background: transparent;
}


/*//the box inside*/

.bg1 {
    background-image: url(../img/index/bg_bake.jpg);
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 212px;
    float: left;
}

.bg2 {
    background-image: url(../img/index/bg_cake2.jpg);
    background-size: cover;
    opacity: 1;
    background-repeat: no-repeat;
    width: 50%;
    min-height: 212px;
    float: left;
}


/*//End box prop*/


/*bgsec*/

.bgsec {
    background: #fff3e1;
    height: 400px;
}

.bgsec-big {
    margin-left: 230px;
}

.bgsec-header,
.bgsec-content {
    margin-top: 45px;
}

.bgsec-header h {
    font-family: "Yumin-Bold";
    font-size: 18px;
    color: #642200;
}

.bgsec-header p {
    font-family: "Muli-Bold";
    font-size: 7px;
    color: #642200;
}

.bgsec-content p {
    font-family: "Yu-Gothic";
    font-size: 7px;
}

.bgsec-content {
    width: 440px;
}

.bgsec-header,
.bgsec-content {
    float: left;
}

.bgsec button,
.bg3 button {
    background: #642200;
    color: white;
    text-align: center;
    font-size: 8px;
    width: 111px;
    height: 20px;
    border: 0;
}


/*//End bgsec*/


/*bg3*/

.bg3 p {
    font-family: "Yu-Gothic";
    font-size: 6px;
}

.bg3 {
    background: #ff9c46;
    width: 100%;
    min-height: 347px;
}

.bg3-header,
.bg3-title p {
    text-align: center;
    text-decoration: underline;
    color: #642200;
}

.bg3-sm-detail {
    background: #fff3e1;
    width: 150px;
    height: 40px;
    border: 1px solid #b3b3b3;
}

.bg3-contain {
    float: left;
    margin-left: 25px;
}

.bg3-sm-detail {
    margin-top: 15px;
}

.bg3-img-detail img {
    float: left;
    width: 40px;
    height: 38px;
}


/* //End bg3*/

.under-line {
    border: 1px solid white;
    width: 116px;
    margin-left: 44%;
    margin-top: 15px;
}

.footer {
    background: url(../img/index/footer_about.jpg);
    width: 100%;
    min-height: 536px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer p,
.footerLogo {
    color: white;
    text-align: center;
    font-size: 13px;
    font-family: "Yu-Gothic";
}

.footerLogo img {
    width: 35px;
    margin-top: 15px
}

.footerImage img {
    width: 19px;
}

.copyRight {
    margin-top: 15px;
}


/* responsive */

@media only screen and (max-width: 767px) {
    .containG {
        width: 100%
    }
}


/* //responsive */